@page "/organizations/settings/{organizationId:guid}/{*pageRoute}"
@using Hive.Client.Pages.OrganizationSettings.SubPages
@using Hive.Client.Shared.Store.Organizations
@using Hive.Shared.Organizations.QueryViewModels
@layout OrganizationSettingsLayout

<style>
    .font-bold {
        font-weight: 700;
        color: @_theme.Palette.TextPrimary;
    }
</style>

<div>
    <div class="py-8">
        <MudText Typo="Typo.h2" Class="font-bold">Organization Settings</MudText>
    </div>
    <MudDivider Class="mb-4" />
    @if (PageRoute == _overviewSubpageName)
    {
        <OverviewSubPage />
    }
    else if (PageRoute == _usersSubpageName)
    {
        <UsersSubPage />
    }

</div>


