.auth-layout {
    display: flex;
    align-items: center;
    height: 100vh;
}

.auth-layout div:nth-child(1) {
    flex: 1;
    padding:6rem;
}

.auth-layout div:nth-child(2) {
    flex: 2;
}

.login-image {
    height: 100vh;
    width: 100%;
    background-color: #f2994a;
}