@using Hive.Client.Components.ApplicationAppBar
@using Hive.Client.Services.Common
@inherits LayoutComponentBase

<style>
    .logo {
        width: 6.0625rem;
    }
</style>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <ApplicationAppBar />
                <MudMainContent Class="px-6">
                    <div class="pt-4">
                        @Body
                    </div>
                </MudMainContent>

            </MudLayout>
            <MudScrollToTop TopOffset="100">
                <MudFab Color="Color.Secondary" Icon="@Icons.Filled.ArrowUpward" />
            </MudScrollToTop>
        </Authorized>
        <Authorizing>
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status"></div>
            </div>
        </Authorizing>
    </AuthorizeView>

</div>
