@using Hive.Client.Components.ApplicationAppBar
@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <ApplicationAppBar/>
                <MudMainContent Class="px-6">
                    <div class="pt-4">
                        @Body
                    </div>
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <Authorizing>
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status"></div>
            </div>
        </Authorizing>
    </AuthorizeView>

</div>

@code {

}
