@page "/organization/project/{projectId:guid}"
@using Hive.Client.Components.ProjectBoardOverviewCard
@using Hive.Client.Components.ProjectTasksCard
@using Hive.Client.Components.ProjectTeamList

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<style>
    .breadcrumb-container {
        flex: 1;
        background-color: @Colors.Grey.Lighten4;
        border-radius: 12px;
        margin-bottom: 1rem;
    }

    .project-body {
        height: 75vh;
    }

    .card-bg {
        /*background-color: @Colors.Orange.Lighten5;*/
        border-radius: 8px;
    }
</style>


@if (ProjectState.Value.IsLoading)
{
    <div class="d-flex align-center justify-center" style="height:75vh;width:75%;">
        <MudProgressLinear Indeterminate="true" Color="Color.Primary" />
        <MudText>Loading Project...</MudText>
    </div>
}
else
{
    List<BreadcrumbItem> breadcrumbItems = new()
                {
                    new BreadcrumbItem("Organizations", Routes.UserOrganizations),
                    new BreadcrumbItem("Projects", Routes.OrganizationPage(Project.OrganizationId)),
                    new BreadcrumbItem(Project.Name, null, true),
                };
    <div class="breadcrumb-container">
        <MudBreadcrumbs Items="breadcrumbItems" Separator="/" />
    </div>
    //Main Content
    <div class="mx-2 my-8">
        <MudText Typo="Typo.caption">Project</MudText>
        <MudText Typo="Typo.h1">@Project.Name</MudText>
    </div>
    <MudGrid Class="project-body">
        <MudItem lg="3">
            <ProjectBoardOverviewCard ProjectId="@ProjectId" />
        </MudItem>
        <MudItem lg="4">
            <ProjectTasksCard />
        </MudItem>
        <MudItem lg="5">
            <CascadingValue Value="Project.OrganizationId">
                <ProjectTeamListCard Users="Project.Members" />
            </CascadingValue>
        </MudItem>
    </MudGrid>
}
