<MudCard Outlined="true" Class="class=bg">
    <MudCardContent>
        <div class="mb-4">
            <MudText Typo="Typo.h2">My Tasks</MudText>
            <MudText Typo="Typo.caption">Overview</MudText>
        </div>
    </MudCardContent>
</MudCard>

@code {

}
